<div class="progress-wrapper">
  <div class="progress-info">
    {{progressInfo.name}}
  </div>
  <div class="progress-content">
    <mat-progress-bar 
    [value]="progressValue"
    (animationEnd)="fireFinishInfo()" 
    mode="determinate"></mat-progress-bar>
  </div>
  <div class="operate-btns">
    <button (click)="trigger()">
      <ng-container *ngIf="showPause"><span class="iconfont icon-pause"></span></ng-container>
      <ng-container *ngIf="!showPause">resume</ng-container>
    </button>
    <button (click)="cancelTask()"><span class="iconfont icon-shanchu"></span></button> 
  </div>
</div>

