
<div *ngIf="shouldRender">
    <button [routerLink]="1">1</button>
    <button [routerLink]="2">2</button>
    <button [routerLink]="3">3</button>
</div>
<!-- <app-gj-modal 
[(gjVisible)]="winVisible"
(gjOnOk)="gjoktest($event)"></app-gj-modal> -->

<!-- <app-chat-modal [modalTemplate]="modalTemplate"></app-chat-modal> -->
<router-outlet></router-outlet>

<!-- <ng-template #modalTemplate>
    <div>
        <select>
            <option *ngFor="let item of applist">
                {{item['value']}}
            </option>
        </select>
    </div>
</ng-template> -->