
<ng-content></ng-content>

<div 
(mousedown)="resizeStart($event,'left')"
class="resize-item-handler-left" 
*ngIf="renderHandler('left')"></div>

<div 
(mousedown)="resizeStart($event,'top')"
class="resize-item-handler-top" 
*ngIf="renderHandler('top')"></div>

<div 
(mousedown)="resizeStart($event,'bottom')"
class="resize-item-handler-bottom" 
*ngIf="renderHandler('bottom')"></div>

<div 
(mousedown)="resizeStart($event,'right')"
class="resize-item-handler-right" 
*ngIf="renderHandler('right')"></div>


<!-- ------------------------------------------------------------------ -->
<div
*ngIf="renderHandler('topleft')"
(mousedown)="resizeStart($event,'topleft')"
class="resize-item-handler-topleft"></div>

<div 
*ngIf="renderHandler('topright')"
(mousedown)="resizeStart($event,'topright')"
class="resize-item-handler-topright"></div>

<div 
*ngIf="renderHandler('bottomleft')"
(mousedown)="resizeStart($event,'bottomleft')"
class="resize-item-handler-bottomleft"></div>

<div 
*ngIf="renderHandler('bottomright')"
(mousedown)="resizeStart($event,'bottomright')"
class="resize-item-handler-bottomright"></div>
