/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./assets/upload.css";
html,body{
    padding:0px;
    margin:0px;
    overflow: hidden;
    height: 100%;
}
.attached{
    /* transition: translateX(20px) .3s ease-in-out !important; */
    transition: transform .3s ease-in-out;
    
}
.attached.left{
    transform: translateX(-40px) ;
}
.attached.right{
    transform: translateX(40px) ;
}
.attached.top{
    transform: translateY(-40px) ;
}
.attached.bottom{
    transform: translateY(40px) ;
}
.attached:hover{
    /* transition: translateX(20px) .3s ease-in-out !important; */
    transform: translateX(0px) ;
    transform: translateY(0px) ;
    /* transition: transform .3s ease-in-out; */
}